<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Home</title>
</head>
<body>
<!-- header start --> 
 <table border='1'>
   <tr>
     <td><%= link_to 'Home', welcome_index_path %></td>
     <td><%= link_to 'Bicycles', bicycles_path %></td>
   </tr>
 </table>
<!-- header end --> 
<br>
<h3>Bicycle Inventory System</h3>
<h4>About</h4>
<p>Simple web application to record bicycles and rentals. Internet connection not required.
Click on the "bicycles" link above to get started.
<p>Created by Egan Dunning.
<h4>Links</h4>
<p><a href="http://www.plu.edu/recreations/outdoor-rec/bike_co-op/">PLU Bike Co-op website</a>
<p><a href="http://nashbar.com">Bike Nashbar</a> - for buying parts.
<p><a href="http://github.com/egandunning/BikeInventory_app">Source code</a>
</body>
</html>

