<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>New Bicycle</title>
</head>
<body>
<!-- header start --> 
 <table border='1'>
   <tr>
     <td><%= link_to 'Home', welcome_index_path %></td>
     <td><%= link_to 'Bicycles', bicycles_path %></td>
   </tr>
 </table>
<!-- header end --> 
<br>
<br>
<h3>New Bicycle</h3>

<%= render 'form' %>

<%= link_to 'Back', bicycles_path %>

</body>
</html>
